annotated-types==0.7.0
anyio==4.13.0
bcrypt==4.1.2
click==8.3.3
colorama==0.4.6
dnspython==2.8.0
email_validator==2.1.1
fastapi==0.109.0
h11==0.16.0
idna==3.13
psycopg-binary
pydantic==2.9.0
pydantic-settings==2.2.1
pydantic_core==2.23.2
PyJWT==2.8.0
python-dotenv==1.0.0
python-multipart==0.0.6
starlette==0.35.1
typing_extensions==4.15.0
tzdata==2026.2
uvicorn==0.27.0
